<h2>Someone's Profile</h2>

<p><%= image_tag @user.image.url(:thumb) %> <%= @user.username %></p>
<p><%= @user.email %></p>
<p><%= @user.about %></p>

<% if session[:user_id] == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>


<div id="container" class="m-auto w-8 p1">
  <% @user.photos.each do |photo| %>
    <div class="box">
      <div class="thumb">
        <%= link_to image_tag(photo.photo.url(:medium)), photo_path(photo.id) %></a>
        <p><%= link_to photo.title, photo_path(photo.id) %></p>
      </div>
    </div>
  <% end %>
</div>