<h2>Someone's Profile</h2>

<p><%= image_tag @user.image.url(:thumb) %> <%= @user.username %></p>
<p><%= @user.email %></p>
<p><%= @user.about %></p>

<% if session[:user_id] == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>

<ul>
  <% @user.photos.each do |photo| %>
  <li>
    <p><%= image_tag photo.photo.url(:medium) %></p>
    <p><%= link_to photo.title, photo_path(photo) %></p>
  </li>
  <% end %>
</ul>