<div id="container" class="m-auto w-5 p1">
  <h2 id="page-header" class="mt-0 mb-4 txt-center">Submit a Photo</h2>
  <%= form_for @photo, :html => { :multipart => true } do |f| %>

       <%= f.hidden_field :user_id, :value => session[:user_id] %>
      <%= f.label :photo, "Image*" %>
      <%= f.file_field :photo %>

      <%= f.label :title, "Title*" %>
      <%= f.text_field :title, placeholder: "Title" %>

      <%= f.label :description %>
      <%= f.text_area :description, id: "submit-desc", placeholder: "Tell a little about this photo!" %>

      <%= f.submit "Submit", class: "button" %>
  <% end %>
</div>