<div id="container" class="m-auto2">
  <%= image_tag @photo.photo.url(:large), class: "block m-auto pb-2" %>

  <div class="photo-info pt-2 w-10 m-auto">
    <%= image_tag @photo.user.image.url(:thumb), class: "pl-2 pt-1" %>

    <div class="ml-1 pt-1">
      <p class="fnt-sz-1_5 pb-6 m0">
        <%= link_to @photo.title, photo_path(@photo) %>
      </p>
      <span>
        by
        <%= link_to @photo.user.username, user_path(@photo.user) %>
      </span>

    </div>
    <p id="photo-desc" class="pl-2 pr-2 pt-1">
      <%= @photo.description %>
    </p>
  </div>

  <div id="edit-photo">
    <% if session[:user_id] == @photo.user_id %>
      <%= link_to "Edit Photo", edit_photo_path(@photo) %>
    <% end %>
  </div>
</div>

